<h1>Create Account</h1>
<form action="/insert_user" method="post">
  <div class="mb-3">
    <label for="email_box" class="form-label">Email</label>
    <input id="email_box" class="form-control" name="query_email" type="text" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Enter email</div>
  </div>
  <div class="mb-3">
    <label for="first_name_box" class="form-label">First name</label>
    <input type="text" class="form-control" id="first_name_box" name="query_first_name">
  </div>
  <div class="mb-3">
    <label for="last_name_box" class="form-label">Last name</label>
    <input type="text" class="form-control" id="last_name_box" name="query_last_name">
  </div>
  <div class="mb-3">
    <label for="password_box class="form-label">Password</label>
    <input id="password_box" class="form-control" name="query_password" placeholder="Choose a password..." type="password">
  </div>
  <div class="mb-3">
    <label for="password_confirmation_box class="form-label"">Password Confirmation</label>
    <input id="password_confirmation_box" class="form-control" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
